.nav-full-screen {
    margin: 0;
    height: 64px;
    width: 100%;
    overflow: auto;
}

h3.home-button-title {
    margin-top: 21px;
}

h3.home-button-title a{
    color: black;
    text-decoration: none;
}

h3.home-button-title a:hover {
    color: #2669f0; 
}
